.box{
    min-height: 100px;
    background: blue;
}
.mh-300{
    min-height: 300px;
}

.primary-header img{
    width:110px;
}

.header-menu{
    margin-right: 30px;
}
.header-menu li{
    position: relative;
    display: inline-block;
}
.header-menu li a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #626262;
    margin: 15px 20px;
    position: relative;
}
.header-menu li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width:0;
    height: 2px;
    background: #626262;
    visibility: hidden;
    opacity: 0;
    transition: .4s;

}
.header-menu li a:hover::after{
    width: 100%;
    visibility: visible;
    opacity: 1;
}
.header-menu li ul {
	list-style: none;
	position: absolute;
	top: 200%;
	left: 0;
	width: 220px;
	background: white;
	padding:10px  0;
    box-shadow: 0 15px 10px 1px rgba(0, 0, 0, .1);
    border-top: 1px solid red;
    visibility: hidden;
    opacity: 0;
    transition: .4s ease-in-out;
}
.header-menu li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 100%;
}
.header-menu li ul li{
    flex-direction: column;
    
}
.header-menu li ul li a{
    display: inline-block;
    margin: 10px 20px;
    font-size: 16px;

}
.header-menu li ul li a{}